Hi,

You can reset your password using the following link. If you didn't request a password reset, then please disregard this email.

<%= @url %>

If you have any questions, you can reply to this email and we'll get back to you!

Thanks!
The Team at APP_NAME
