<p>Hi,</p>

<p>You can reset your password using <%= link("this link", to: @url) %>. If you didn't request a password reset, then please disregard this email.</p>

<p>If you have any questions, you can reply to this email and we'll get back to you!</p>

<p>Thanks!<br />The Team at APP_NAME</p>
